<% include ./partiels/header %>

<h1>Inscription</h1>

<form action="/inscription" method="POST">
    <input type="text" name="username" placeholder="Nom d'utilisateur">
    <input type="password" name="password"  placeholder="Mot de passe">
    <button>Submit</button>
</form>

<% include ./partiels/footer %>