<% include ./partials/header %>

<h1>Connexion</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Nom d'utilisateur">
    <input type="password" name="password"  placeholder="password">
    <input type="submit" value="Se connecter">
</form>

<% include ./partials/footer %>