
<!-- <p>TradeMark Hotello 2016</p> -->
<p id="footer">Toutes les images fournies proviennent de <a href="https://www.pexels.com/">Pexels.com</a> en accord avec <a href="https://www.pexels.com/photo-license/">les termes de la license CC0</a></p>

</body>
</html>
